@font-face {
    font-family: 'Bukra';
    src: url('fonts/29ltbukrabolditalic.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Bukra Light';
    src: url('fonts/bukra-light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

p, h1 {
    color: rgb(7, 33, 64); 
}

p {
    line-height: 2;
    font-weight: 800;
}

h1 {
    line-height: 1.5;
    font-weight: 1000;
}

body {
    margin: 0;
    background-color: rgb(240, 245, 250); 
    background-image: linear-gradient(90deg, rgba(229, 235, 242) 1px, transparent 1px), 
                      linear-gradient(rgba(229, 235, 242) 1px, transparent 1px);
    background-size: 50px 50px;
    font-family: "Bukra Light";
}

header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
    background-color: rgb(240, 245, 250); 
    background-image: linear-gradient(90deg, rgba(229, 235, 242) 1px, transparent 1px), 
                      linear-gradient(rgba(229, 235, 242) 1px, transparent 1px);
    background-size: 50px 50px;
    transition: top 0.3s ease; 
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px; 
}

.logo {
    width: 50px; 
    height: auto;
    vertical-align: middle;
}

.title {
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 2%;
    margin-left: 10px; 
    padding-left: 10%; 
}

.title h1 {
    font-family: "Bukra";
    margin: 0;
    font-size: 48px;
}

.web-pages {
    text-align: left;
    padding-right: 10%;
}

nav {
    display: flex;
    align-items: center;
}

nav a {
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    padding: 10px 20px;
    transition: box-shadow 0.3s ease;
    display: inline-block;;
    color: #003366;
}

nav a:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.separator {
    display: inline-block;
    color: #003366;
    font-family: "Bukra";
    vertical-align: middle;
}

.dropdown {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.hamburger-icon {
    width: 30px;
    height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger-icon span {
    display: block;
    height: 4px;
    background-color: #003366;
    border-radius: 2px;
    transition: 0.3s ease;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    max-width: 100%;    
}

.no-scroll {
    overflow: hidden;
    position: fixed;
    width: 100%;
}

.slide-menu {
    position: fixed;
    top: 0;
    right: -100%; 
    width: 100%;
    height: 100%;
    background-color: #003366;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    transition: right 0.3s ease;
    z-index: 1001; 
    pointer-events: all; 
}

.slide-menu.active {
    right: 0; 
    pointer-events: all; 
}

.slide-menu a {
    color: white;
    padding: 15px;
    text-decoration: none;
    font-size: 1.2em;
    margin: 10px 0;
    transition: background-color 0.3s ease;
}

.slide-menu a:hover {
    background-color: #002244;
}

.introduction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-top: 15%;
    padding-left: 10%;
    padding-right: 10%;
    border-radius: 10px;
    margin-bottom: -5%;
    flex-wrap: wrap;
}

.intro-text {
    flex: 0 0 40%; 
    padding-top: 0%;
    padding-right: 5%;
    max-width: 40%;
    margin-top: -10%;
}

.intro-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
    flex: 0 0 40%; 
    padding-right: 20px;
}

.intro-text p {
    font-size: 1.2em;
    padding-bottom: 5%;
}

.intro-button {
    display: block;
    margin: 20px auto;
    padding: 15px 30px; 
    font-family: "Bukra";
    font-size: 1.2em;
    font-weight: 800;
    text-align: center;
    color: white;
    background-color: #003366; 
    border: none;
    border-radius: 10px; 
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 6px 10px rgba(44, 24, 24, 0.2); 
    width: 200px;
}

.intro-button:hover {
    background-color: #002244; 
    box-shadow: 0 8px 15px rgba(24, 60, 150, 0.3); 
}

.intro-image {
    flex: 0 0 50%;
    text-align: right;
    transform: scale(1.25);
}

.intro-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.about-us-our-mission {
    position: relative; 
    overflow: hidden; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    border-radius: 10px;
    flex-wrap: wrap;
}

.background-wrapper {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    z-index: -1; 
}

.content-overlay {
    position: relative; 
    padding-top: 1%;
    text-align: center;
    color: #003366; 
}

.about-us-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    flex-wrap: wrap;
}

.about-us-img {
    flex: 0 0 30%; 
    z-index: 1;
    width: 60%;
    max-width: 60%;
}

.about-us-text-wrapper {
    flex: 1; 
    margin-left: -10%;
}

.about-us-text-wrapper h1 {
    font-size: 86px; 
    color: #003366; 
    text-align: left; 
    padding-left: 20%;
    margin-bottom: -3%;
}

.about-us-text-wrapper p {
    background-color: #F5F5FA;
    padding-left: 20%;
    padding-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    border-radius: 10px; 
    text-align: left; 
    max-width: 800px; 
    border: 2px solid rgb(0, 57, 142); 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.our-mission-container {
    position: relative; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
    border-radius: 10px;
    margin-top: -15%;
    flex-wrap: wrap;
}

.our-mission-img {
    position: absolute;
    left: 40%; 
    top: 0px; 
    bottom: 50px;
    z-index: 2; 
    width: 60%;
    max-width: 50%;
}

.our-mission-text-wrapper {
    flex: 1;
    position: relative; 
    z-index: 1; 
}

.our-mission-text-wrapper p {
    background-color: #F5F5FA;
    padding: 3% 25% 3% 3%;
    border-radius: 0 10px 10px 10px;
    text-align: left;

    border: 2px solid rgb(0, 57, 142);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.our-mission-text-wrapper h1 {
    font-size: 86px; 
    color: #003366; 
    text-align: left; 
    padding-left: 20%;
    margin-bottom: -1%;

    padding-left: 5%;
    padding-right: 50%;
    line-height: 1.25; 
} 

.how-it-works {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100%;
    height: 100%;
    width: 80%;
    max-width: 80%; 
    margin: -5% auto 20px auto; 
}

.how-it-works-image {
    align-items: center;
    max-width: 70%;
    z-index: 1;
}

.how-it-works-image img {
    max-width: 100%;
    height: auto;
}

.corner-item {
    position: absolute;
    width: 25%; 
    max-width: 25%;
    height: 25%;
    z-index: 2; 
    text-align: center;
    color: rgb(254, 255, 236);
}

.corner-item p {
    color: rgb(254, 255, 236);
    font-size: 24px;
}

.corner-item h2 {
    font-size: 36px;
    margin-bottom: -15px;
    font-family: "Bukra";
}

.top-left {
    top: 10px;
    left: 10px;
}

.top-right {
    top: 10px;
    right: 10px;
}

.bottom-left {
    bottom: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px;
    right: 10px;
}

.center-item {
    position: absolute;
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 50%; 
    max-width: 50%;
    height: 50%;
    border-radius: 5px;
    z-index: 2; 
    text-align: center;
    font-size: 48px;
    color: rgb(254, 255, 236);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Bukra";
}

.why-bridged {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2%;
    width: 80%;
    max-width: 70%; 
    margin: -5% auto 20px auto; 
}

.why-bridged h1 {
    font-size: 86px;
    color: #003366; 
    margin-bottom: 1%;
}

.why-bridged p {
    font-size: 1.2em;
    padding-top: 30px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    border-radius: 10px; 
    text-align: center; 
    max-width: 800px; 
    border: 4px solid rgb(0, 57, 142); 
    border-top: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    margin-top: -40px;
}

.why-bridged img {
    max-width: 60%;
    height: auto;
    border-radius: 10px;
    margin-top: -5%;
}

footer {
    background-color: #0056a6;
    color: #fff;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    width: 100%;
    z-index: 1000;
}

.footer-text {
    font-size: 1em;
    font-family: "Bukra";
}

@media (max-width: 768px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.5em;
    }
    p {
        font-size: 1em;
    }

    header {
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        padding-top: 10px;
        transition: top 0.3s ease; 
    }
    

    .title {
        justify-content: center; 
        padding-left: 0;
    }

    .logo {
        width: 30px; 
        padding-left: 10px;
    }
    .title h1 {
        font-size: 2em;

    }
    .web-pages {
        padding-right: 0;
        text-align: center;
        margin-top: 10px;
    }
    
    nav a {
        margin: 10px;
        text-decoration: none;
        font-weight: bold;
        font-size: 1em;
        padding: 10px 20px;
        border-radius: 4px;
        transition: box-shadow 0.3s ease;
        display: inline-block;
        color: #003366;
    }
    
    .separator {
        display: none;
    }

    .dropdown {
        margin-left: auto; 
        position: relative;
        display: inline-block; 
        position: absolute;
        right: 20px; 
    }

    nav {
        display: none;
    }

    .hamburger-icon {
        display: flex; 
        padding-right: 20px; 
    }

    .introduction {
        flex-direction: column;
        padding: 20px;
        padding-top: 80px; 
    }
    .intro-text {
        max-width: 100%;
        padding-right: 0;
        text-align: center;
        margin-top: 0;
    }
    .intro-text h1 {
        font-size: 2em;
    }
    .intro-text p {
        font-size: 1em;
    }
    .intro-button {
        width: 80%;
        max-width: 200px;
        margin: 20px auto;
    }
    .intro-image {
        max-width: 100%;
        text-align: center;
        transform: none;
        margin-top: 20px;
    }
    .intro-image img {
        max-width: 80%;
        height: auto;
    }

    .about-us-our-mission {
        position: relative; 
        overflow: hidden; 
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;
        border-radius: 10px;
        flex-wrap: wrap;
    }

    .about-us-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
        padding-top: 10%;
    }
    .about-us-text-wrapper {
        padding: 0;
        margin-left: 0;
        text-align: center;
        max-width: 100%;
    }
    .about-us-text-wrapper h1 {
        padding: 2.5%;
        padding-top: 5%;
        padding: auto;
        font-size: 2em;
        text-align: center;
    }
    .about-us-text-wrapper p,
    .our-mission-text-wrapper p {
        padding: 20px;
        width: auto;
        max-width: 90%; 
        text-align: center;
        margin: 0 auto;
    }

    .about-us-img {
        position: absolute;
        left: 0px;
        top: 0px;
        max-width: 35%;
        width: auto;
        z-index: -1;
        margin-left: -5%;
    }

    .our-mission-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        text-align: center;
        padding-top: 15%;
    }
    .our-mission-text-wrapper {
        display: flex;
        align-items: left;
        justify-content: left;
        flex-direction: column;
    }

    .our-mission-text-wrapper h1 {
        padding: 2.5%;
        padding-top: 5%;
        padding: auto;
        font-size: 2em;
        text-align: left;
    }

    .our-mission-title-wrapper {
        padding-top: 10%;
        display: flex;
        align-items: left;
        justify-content: left;
        flex-direction: column;
    }

    .our-mission-img {
        position: absolute;
        right: -20%;
        bottom: 50px;
        z-index: -2;
        width: 70%;
        max-width: 400px;
        height: auto;
    }


    .how-it-works {
        align-items: center;
        width: 100%;
        margin: 0 auto;

    }
    .how-it-works-image {
        max-width: 100%;
        margin-bottom: -40px;
        padding: 0%;
    }

    .why-bridged {
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
        max-width: 80%;
        width: 80%;
        margin: 0 auto;
    }
    .why-bridged h1 {
        font-size: 2em;
        text-align: center;
        margin-bottom: 9%;
    }
    .why-bridged p {
        padding: 20px;
        width: auto;
        max-width: 90%;
        text-align: center;
    }
    .why-bridged img {
        max-width: 80%;
        margin-top: -10%;
    }
    .footer-text {
        font-size: 1em;
    }
}
